<!DOCTYPE html>
<html lang="en">np

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Buscador</title>

    

    <!--Links para los iconos-->
    <link rel="stylesheet" href="css/fontawesome-all.css">


    <link rel="stylesheet" href="css/bus.css">
    <link rel="stylesheet" href="Css/style.css">
    <link rel="stylesheet" href="css/fontawesome-all.css">

    <link href="https://fonts.googleapis.com/css?family=Nunito:600" rel="stylesheet">
</head>

<body>

    <header id="header">
        <nav class="menu">
            <div class="logo">
                <img src="Data/logo-01.png" alt="">
                <a href="#" class="btn-menu" id="btn-menu">
                    <i class="icono fa fa-bars" aria-hidden="true">
                    </i>
                </a>
            </div>

            <div class="enlaces" id="enlaces">
                <a class="home" href="/">New</a>
                <a class="how" href="/buscador">Books</a>
                <a class="book" href="#">Tops</a>
                <a class="contact" href="#">Ebook</a>
                <a class="tienda " href="/carrito">
                    <div>
                        <img src="Data/ICONO.png" width="26px" alt="" class="shopping-cart">
                        <span class="carrito">0</span>
                    </div>
                </a>
            </div>
        </nav>
    </header>
    <!--                              /header cerrado____________________ -->








    <!--                              /libros____________________ -->
    <section class="cuerpo">
        <div class="container">
        <div class="arrow arrow-left">
            <i class="fas fa-chevron-circle-left"></i>
        </div>
        <img src="Data\1.jpg" alt="">
        <img src="Data\2.jpg" alt="">
        <img src="https://images.unsplash.com/photo-1471138406156-7a89e687a062?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=7820fc816715b37942a793360b785c60"
            alt="">
        <div class="arrow arrow-right">
            <i class="fas fa-chevron-circle-right"></i>
        </div>

        <div class="dots">
            <div class="dot">
                <i class="far fa-dot-circle"></i>
            </div>
            <div class="dot">
                <i class="far fa-circle"></i>
            </div>
            <div class="dot">
                <i class="far fa-circle"></i>
            </div>
        </div>
        
          <div class="buscar">
                <input type="text" placeholder="Buscar">
            </div>


    </div>
      

        </div>
        <div class="dentro">
            <!--Parte Izquierda de la pantalla-->
            <div class="filtros">
                <div class="filbotones">
                    <div class="filtrogenero">
                        <h2>Gender</h2>
                        <a href="/buscador?genero=Drama">Drama</a>
                        <a href="/buscador?genero=Children's literature">Children's literature</a>
                        <a href="/buscador?genero=Fantasy">Fantasy</a>
                        <a href="/buscador?genero=Horror">Horror</a>
                        <a href="/buscador">All</a>
                    </div>
                    <div class="filtroidioma">
                        <h2>Language.</h2>
                        <a href="/buscador?idioma=English">English</a>
                        <a href="/buscador?idioma=French">French</a>
                        <a href="/buscador?idioma=Spanish">Spanish</a>
                        <a href="/buscador?idioma=German">German</a>
                        <a href="/buscador">All</a>
                    </div>
                    <div class="filtroclasificacion">
                        <h2>Clasificacion</h2>
                        <a href="/buscador?clasificacion=Illustrations">Illustrations</a>
                        <a href="/buscador?clasificacion=Graphic Novels">Graphic Novels</a>
                        <a href="/buscador?clasificacion=Illustrated story">Illustrated story</a>
                        <a href="/buscador?clasificacion=Illustrated novel">Illustrated novel</a>
                        <a href="/buscador">All</a>
                    </div>
                    <div class="filtrocalificacion">
                        <h2>Score</h2>
                        <a href="/buscador?calificacion=5">5</a>
                        <a href="/buscador?calificacion=4">4</a>
                        <a href="/buscador?calificacion=3">3</a>
                        <a href="/buscador?calificacion=2">2</a>
                        <a href="/buscador?calificacion=1">1</a>
                        <a href="/buscador">All</a>
                    </div>
                </div>
               
            </div>

            <!--Parte Derecha de la pantalla-->
            <div class="libros">
                <div class="lib">
                    {{#each productos}}
                    <div class="libro" data-id="{{this._id}}">
                       
                        <div class="imagen" style="background-image: url({{libro}});"></div>
                        <div class="descri">
                            <p class="nom">
                                 <a class="nombre" href="/buscador/libro/{{nombre}}">
                                <b>{{nombre}}</b>
                                </a>
                            </p>
                            <p class="desc">
                                Pages: {{Page}}
                            </p>
                            <p class="desc">
                                Language: {{idioma}}
                            </p>
                            <p class="desc">
                                ${{precio}}
                            </p>
                            <p class="desc">
                                Start: {{calificacion}}
                            </p>
                            <p class="desc">
                                Start: {{clasificacion}}
                            </p>
                        </div>
                        <div class="boton" align="center">
                            <button class="agregar">Add To Card</button>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </section>


    <!--                              /footer______________________-->
    <footer>
        <div class="cont-social">
            <a href="#">
                <i id="social-fb" class="fab fa-facebook-f social"></i>
            </a>
            <a href="#">
                <i id="social-tw" class="fab fa-twitter social"></i>
            </a>
            <a href="#">
                <i id="social-gp" class="fab fa-google-plus-g social"></i>
            </a>
            <a href="#">
                <i id="social-em" class="fas fa-envelope social"></i>
            </a>
        </div>
    </footer>
    <!--                                     /footer cerrado_______________________-->
    <script src="js/jquery-3.3.1.js"></script>
    <script src="js/headroom.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="js/cliente.js"></script>
    <script src="js/productos.js"></script>
    <script src="js\java.js"></script>
    <script src="js\index.js"></script>

</body>

</html>