<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{tittle}}</title>
    <!--Links para los iconos-->
    <link rel="stylesheet" href="/css/fontawesome-all.css">
    <link rel="stylesheet" href="/css/bus.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/fontawesome-all.css">




    <link rel="stylesheet" href="/css/libro.css">
</head>

<body>
    <header id="header">
        <nav class="menu">
            <div class="logo">
                <img src="/Data/logo-01.png" alt="">
                <a href="#" class="btn-menu" id="btn-menu">
                    <i class="icono fa fa-bars" aria-hidden="true">
                    </i>
                </a>
            </div>

            <div class="enlaces" id="enlaces">
                <a class="home" href="/">New</a>
                <a class="how" href="/buscador">Books</a>
                <a class="book" href="#">Tops</a>
                <a class="contact" href="#">Ebook</a>
                <a class="tienda " href="/carrito">
                    <div>
                        <img src="/Data/ICONO.png" width="26px" alt="" class="shopping-cart">
                        <span class="carrito">0</span>
                    </div>
                </a>
            </div>
        </nav>
    </header>

    <section class="cuerpo">
        <!--Parte Mostrar información detallada de los libros-->
        <div class="lob">
            <div class="aqui">
                <div class="libro" data-id="{{this._id}}">


                    <div class="descri">
                        <div class="primera">


                            <div class="imagen" style="background-image: url(/{{lib.libro}});"></div>


                            <div class="base">
                                <p class="nom">
                                    <b>{{lib.nombre}}</b>
                                </p>
                                <p class="aut">
                                    Author: {{lib.autor}}
                                </p>
                                <p class="sta">
                                    Start: {{lib.calificacion}}
                                </p>
                                <p class="datos">
                                    Classification: {{lib.clasificacion}}
                                </p>
                                <p class="datos">
                                    Gender: {{lib.genero}}
                                </p>
                                <p class="datos">
                                    Number of Illustrations: {{lib.ilustraciones}}
                                </p>

                            </div>

                            <div class="compra">

                                <p class="precio">
                                    Price: ${{lib.precio}}
                                </p>
                                <h4>¡Tus compras están seguras!</h4>
                                <h4>Devoluciones gratuitas</h4>

                                <button class="agregar">Add To Card</button>


                            </div>
                        </div>

                        <div class="segunda">
                            <div class="text">
                                <p class="desc">
                                    {{lib.Descripcion}}
                                </p>
                            </div>

                        </div>

                    </div>
                    <div class="boton" align="center">
                        <a href="/buscador">
                            <button class="atras">Back</button>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="cont-social">
            <a href="#">
                <i id="social-fb" class="fab fa-facebook-f social"></i>
            </a>
            <a href="#">
                <i id="social-tw" class="fab fa-twitter social"></i>
            </a>
            <a href="#">
                <i id="social-gp" class="fab fa-google-plus-g social"></i>
            </a>
            <a href="#">
                <i id="social-em" class="fas fa-envelope social"></i>
            </a>
        </div>
    </footer>


    <script src="/js/jquery-3.3.1.js"></script>
    <script src="/js/headroom.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="/js/cliente.js"></script>
    <script src="/js/productos.js"></script>
</body>

</html>